@model VideoViewModel
@{
    ViewBag.Title = "Details";
}


@Html.ActionLink("Home", "Index")
<div>@Model.Id</div>
<div>@Model.Title</div>
<div>@Model.Genre</div>



@section footer{
    <div>This is where the footer goes.</div>
}