@model AspNetCoreVideo.ViewModels.VideoViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Video</title>
</head>
<body>
    @Html.ActionLink("Home", "Index")
    <div>@Model.Id</div>
    <div>@Model.Title</div>
    <div>@Model.Genre</div>
</body>
</html>